<h4 class="ui center aligned icon header">
  <i class="circular coffee orange icon"></i>
  Say something
</h4>
<div class="ui grid two column centered">


<div class=" twelve wide column content">
  <div class="chatbox">
    <h4 class="ui sub header">Activity</h4>
    <div class="ui small feed">
      <div class="event">
        <div class="content">
          <div class="summary">
             <a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <a>Stevie Feliciano</a> was added as an <a>Administrator</a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <a>Helen Troy</a> added two pictures
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="ui inverted segment four wide column online-user">
  <div class="ui inverted relaxed divided list">
    <div class="item title">
      <div class="content">
        <div class="header">Online Users</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">Poodle</div>
        A poodle, its pretty basic
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">Paulo</div>
        He's also a dog
      </div>
    </div>
  </div>
</div>
</div>
